@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
    --bg: #adbcff;
    --text: #151515;
    --yellow: #667eea;
    --red: #602d94;
    --green: #2e5288;
}



html {
    height: 100%;
    width: 100%;
}

body {
    margin: 0;
    padding: 0;
    background-color: #000000;
}

input:checked+label {
    border-color: transparent;
    background: #6366f1;
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
    border: 0;
}

#submit_request, #login_request {
    background-image: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
}

#submit_request:hover, #login_request:hover {
    background-image: linear-gradient(135deg, #4f63bb 0%, #60348b 100%);
}

#home_create {
    width: 200px;
    font-size: 16px;
    font-weight: 600;
    color: #fff;
    cursor: pointer;
    margin: 20px;
    height: 55px;
    text-align: center;
    border: none;
    background-size: 300% 100%;
    background-image: linear-gradient(to right, #667eea, #764ba2, #6B8DD6, #8E37D7);
    box-shadow: 0px 0px 5px 0 rgba(116, 79, 168, 0.75);
    border-radius: 50px;
    moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}



#home_create:hover {
    background-position: 100% 0;
    box-shadow: 0px 0px 20px 0 rgba(116, 79, 168, 0.75);
    moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

#home_create:focus {
    outline: none;
}


.home_title {
    background-image: linear-gradient(-20deg, #5835bb 0%, rgb(232, 246, 255) 65%);
    filter: drop-shadow(1px 1px 1px rgba(63, 32, 87, 0.75));
    background-size: 100%;
    background-repeat: repeat;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
}

.home_title_nav {
    background-image: linear-gradient(-20deg, #cdbaff 30%, #dbfffe 80%);
    text-shadow: 1px 1px 10px rgba(228, 228, 228, 0.1);
    background-size: 100%;
    background-repeat: repeat;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
}

.blob-cont {
    position: fixed;
    top: 0;
    left: 25vw;
    width: 50vw;
    height: 300px;
    filter: blur(60px);
    pointer-events: none;
    z-index: -1;
}


.blob {
    border-radius: 100px;
    filter: blur(20px);
}

.yellow {
    background-color: var(--yellow);
    position: absolute;
    top: 200px;
    left: 100px;
    height: 200px;
    width: 200px;
    animation: yellow 10s infinite ease;
}

.green {
    background-color: var(--green);
    position: absolute;
    top: 80px;
    right: -20px;
    height: 200px;
    width: 250px;

    animation: green 10s infinite ease;
}

.red {
    background-color: var(--red);
    position: absolute;
    right: 0;
    top: 300px;
    height: 250px;
    width: 200px;
    animation: red 10s infinite linear;
}

@keyframes yellow {
    0% {
        top: 200px;
        left: 100px;
        transform: scale(1);
    }

    30% {
        top: 300px;
        left: 150px;
        transform: scale(1.2);
    }

    60% {
        top: 100px;
        left: 200px;
        transform: scale(1.3);
    }

    100% {
        top: 200px;
        left: 100px;
        transform: scale(1);
    }
}

@keyframes green {
    0% {
        top: 80px;
        right: -20px;
        transform: scale(1.2);
    }

    30% {
        top: 300px;
        right: -20px;
        transform: scale(1);
    }

    60% {
        top: 200px;
        right: 100px;
        transform: scale(1);
    }

    100% {
        top: 80px;
        right: -20px;
        transform: scale(1.2);
    }
}

@keyframes red {
    0% {
        top: 250px;
        right: 0px;
        transform: scale(1);
    }

    30% {
        top: 150px;
        right: 150px;
        transform: scale(1.4);
    }

    60% {
        top: 250px;
        right: 100px;
        transform: scale(1);
    }

    100% {
        top: 250px;
        right: 0px;
        transform: scale(1);
    }
}
