@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
    --bg: #adbcff;
    --text: #151515;
    --yellow: #667eea;
    --red: #602d94;
    --green: #2e5288;
}



html {
    height: 100%;
    width: 100%;
    margin:0;
}

body {
    margin: 0;
    padding: 0;
}

footer {
        position: absolute;
        bottom: 0;
        width: 100%;
        left: 50%;
        transform: translateX(-50%);
}

.main {
    background: linear-gradient(to top, #230c66 0%, #170942 10%,#080013 20%, #05000e 100%);  
    background-repeat: no-repeat;
    
    position: relative;
    min-height: 100vh;
}

input:checked+label {
    border-color: transparent;
    background: #6366f1;
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
    border: 0;
}

#submit_request, #login_request {
    background-image: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
}

#submit_request:hover, #login_request:hover {
    background-image: linear-gradient(135deg, #4f63bb 0%, #60348b 100%);
}



.gradient_text {
    background-image: linear-gradient(-20deg, #9267ff 0%, #997dff 100%);
    font-weight: bold;
    background-size: 100%;
    background-repeat: repeat;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
}

.home_title_nav {
    background-image: linear-gradient(-20deg, #9267ff 0%, #997dff 100%);
    font-weight: bold;
    background-size: 100%;
    background-repeat: repeat;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
}

.blob-cont {
    position: fixed;
    top: 0;
    left: 25vw;
    width: 50vw;
    height: 300px;
    filter: blur(60px);
    pointer-events: none;
    z-index: -1;
}


.blob {
    border-radius: 100px;
    filter: blur(20px);
}

.yellow {
    background-color: var(--yellow);
    position: absolute;
    top: 200px;
    left: 100px;
    height: 200px;
    width: 200px;
    animation: yellow 10s infinite ease;
}

.green {
    background-color: var(--green);
    position: absolute;
    top: 80px;
    right: -20px;
    height: 200px;
    width: 250px;

    animation: green 10s infinite ease;
}

.red {
    background-color: var(--red);
    position: absolute;
    right: 0;
    top: 300px;
    height: 250px;
    width: 200px;
    animation: red 10s infinite linear;
}

@keyframes yellow {
    0% {
        top: 200px;
        left: 100px;
        transform: scale(1);
    }

    30% {
        top: 300px;
        left: 150px;
        transform: scale(1.1);
    }

    60% {
        top: 100px;
        left: 200px;
        transform: scale(1.3);
    }

    100% {
        top: 200px;
        left: 100px;
        transform: scale(1);
    }
}

@keyframes green {
    0% {
        top: 80px;
        right: -20px;
        transform: scale(1.1);
    }

    30% {
        top: 300px;
        right: -20px;
        transform: scale(1);
    }

    60% {
        top: 200px;
        right: 100px;
        transform: scale(1);
    }

    100% {
        top: 80px;
        right: -20px;
        transform: scale(1.1);
    }
}

@keyframes red {
    0% {
        top: 250px;
        right: 0px;
        transform: scale(1);
    }

    30% {
        top: 150px;
        right: 150px;
        transform: scale(1.4);
    }

    60% {
        top: 250px;
        right: 100px;
        transform: scale(1);
    }

    100% {
        top: 250px;
        right: 0px;
        transform: scale(1);
    }
}


/*HERO SECTION */

#hero-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    overflow: hidden;
}

.text-content {
    margin-top: 65px;
    padding: 80px 1rem 0px 1rem;
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: left;
    gap: 10px;
}

.main-heading {
    font-family: "Muli", Helvetica, Arial, sans-serif;
    color: #ffffff;
    font-size: 40px;
    line-height: 60px;
    text-align: left;
    font-weight: 700;
    margin: 0;
}

.subtext {
    font-family: "Muli", Helvetica, Arial, sans-serif;
    color: #ffffff;
    font-size: 18px;
    line-height: 30px;
    text-align: left;
    margin-top: 10px;
    margin-bottom: 20px;
}



#home_create {
    width: 200px;
    font-size: 16px;
    font-weight: 600;
    color: #fff;
    cursor: pointer;
    margin: 20px;
    height: 55px;
    text-align: center;
    border: none;
    background-size: 300% 100%;
    background-image: linear-gradient(to right, #41289c, #764ba2, #481870, #8E37D7);
    box-shadow: 0px 0px 5px 0 rgba(116, 79, 168, 0.75);
    border-radius: 50px;
    moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
    cursor: pointer;
    font-family: "Muli", Helvetica, Arial, sans-serif;
    font-size: 20px;
    border-radius: 1.25rem;
    padding: 15px 30px;
    text-decoration: none;
    font-weight: 700;
    border-bottom: 2px solid #543170;
}



#home_create:hover {
    background-position: 100% 0;
    box-shadow: 0px 0px 20px 0 rgba(116, 79, 168, 0.75);
    moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
    transform: translateY(-2px);
}

#home_create:focus {
    outline: none;
}

.premium-query {
    color: #ffffff;
    font-family: "Muli", Helvetica, Arial, sans-serif;
    font-size: 16px;
}

.image-content {
    flex: 1;
    width: 100%;
    padding: 300px 0px;
    align-items: center;
}

.hero-wrap {
    position: relative;
}
.hero-pictures {
      display: flex;
      height: 100%;
    justify-content: center;
    align-items: center;
}

img {
    overflow-clip-margin: content-box;
    overflow: clip;
}
.hero-picture1,
.hero-picture2,
.hero-picture3 {
    border-radius: 20px;
    transition: transform 500ms 0ms ease-in-out;
    aspect-ratio: 4/3;
    box-shadow: rgba(0, 0, 0, 0.6) 0px 5px 15px;
    border-radius: 8px;
    position: absolute;
    width: 300px;  /* Adjusted width */
    height: auto; /* Ensures the height adjusts automatically based on width */
        display: block;

}

.hero-picture1 {
transform: rotate(1deg) translateX(30px) translateY(75px);
}
.hero-picture1:hover {
    z-index: 1;
    transform: scale(1.1)  rotate(0deg) translateX(20px) translateY(75px);
}






.hero-picture2 {
    transform: rotate(-1deg) translateX(30px) translateY(-75px);
}

.hero-picture2:hover {
    z-index: 1;
    transform: scale(1.1)  rotate(0deg)  translateX(20px) translateY(-75px);
}






.hero-picture3 {
    transform:  rotate(0deg) translateX(-30px);
}

.hero-picture3:hover {
    z-index: 1;
    transform: scale(1.1) rotate(0deg) translateX(-10px);
}


@media screen and (min-width: 640px) {
    #hero-section {
        display: flex;
        flex-direction: row;
        gap: 50px;
    }
    .text-content {
        padding: 120px 1rem;
    }
}

/* HOME FEATURES */

.feature {
    background-image: linear-gradient(135deg, #667eea18 0%, #270e417a 100%);
    border-radius: 1rem;
    padding: 2rem;
    outline: 1px solid;
    outline-color: rgba(200, 175, 240, 0.5);
    box-shadow: 0 0 1rem rgba(149, 56, 255, 0.842);
}

.purp {
    outline: 1px solid;
    outline-color: rgba(200, 175, 240, 0.2);
    box-shadow: 0 0 1rem rgba(149, 56, 255, 0.2);
}



/*= NAVBAR =*/

.nav-menu-btn {
    display: none;
}

@media screen and (max-width: 640px) {
    .nav-menu-btn {
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        margin: 1rem;
        font-size: 2rem;
        cursor: pointer;
        z-index: 100;
    }
}
